/* thin*/
@font-face {
  font-family: "Primera";
  src: url("./../assets/fonts/custom/primera.eot");
  src: local("0"),
    url("./../assets/fonts/custom/primera.ttf") format("truetype"),
    url("./../assets/fonts/custom/primera.eot") format("eot");
}

@font-face {
  font-family: "Primera Italic";
  src: url("./../assets/fonts/custom/primeraIt.eot");
  src: local("0"),
    url("./../assets/fonts/custom/primeraIt.ttf") format("truetype"),
    url("./../assets/fonts/custom/primeraIt.eot") format("eot");
}

/* regular */
@font-face {
  font-family: "Segunda";
  src: url("./../assets/fonts/custom/segunda.eot");
  src: local("0"),
    url("./../assets/fonts/custom/segunda.ttf") format("truetype"),
    url("./../assets/fonts/custom/segunda.eot") format("eot");
}

@font-face {
  font-family: "Segunda Italic";
  src: url("./../assets/fonts/custom/segundaIt.eot");
  src: local("0"),
    url("./../assets/fonts/custom/segundaIt.ttf") format("truetype"),
    url("./../assets/fonts/custom/segundaIt.eot") format("eot");
}

/* medium */
@font-face {
  font-family: "Tercera";
  src: url("./../assets/fonts/custom/tercera.eot");
  src: local("0"),
    url("./../assets/fonts/custom/tercera.ttf") format("truetype"),
    url("./../assets/fonts/custom/tercera.eot") format("eot");
}

@font-face {
  font-family: "Tercera Italic";
  src: url("./../assets/fonts/custom/terceraIt.eot");
  src: local("0"),
    url("./../assets/fonts/custom/terceraIt.ttf") format("truetype"),
    url("./../assets/fonts/custom/terceraIt.eot") format("eot");
}

/* bold */
@font-face {
  font-family: "Cuarta";
  src: url("./../assets/fonts/custom/cuarta.eot");
  src: local("0"), url("./../assets/fonts/custom/cuarta.ttf") format("truetype"),
    url("./../assets/fonts/custom/cuarta.eot") format("eot");
}

@font-face {
  font-family: "Cuarta Italic";
  src: url("./../assets/fonts/custom/cuartaIt.eot");
  src: local("0"),
    url("./../assets/fonts/custom/cuartaIt.ttf") format("truetype"),
    url("./../assets/fonts/custom/cuartaIt.eot") format("eot");
}

/* heavy */
@font-face {
  font-family: "Quinta";
  src: url("./../assets/fonts/custom/quinta.eot");
  src: local("0"), url("./../assets/fonts/custom/quinta.ttf") format("truetype"),
    url("./../assets/fonts/custom/quinta.eot") format("eot");
}

@font-face {
  font-family: "Quinta Italic";
  src: url("./../assets/fonts/custom/quintaIt.eot");
  src: local("0"),
    url("./../assets/fonts/custom/quintaIt.ttf") format("truetype"),
    url("./../assets/fonts/custom/quintaIt.eot") format("eot");
}

/* black */
@font-face {
  font-family: "Sexta";
  src: url("./../assets/fonts/custom/sexta.eot");
  src: local("0"), url("./../assets/fonts/custom/sexta.ttf") format("truetype"),
    url("./../assets/fonts/custom/sexta.eot") format("eot");
}

@font-face {
  font-family: "Sexta Italic";
  src: url("./../assets/fonts/custom/sextaIt.eot");
  src: local("0"),
    url("./../assets/fonts/custom/sextaIt.ttf") format("truetype"),
    url("./../assets/fonts/custom/sextaIt.eot") format("eot");
}
